@passive-button-color: #FF9514;
@hover-button-color: #111111;
@pressed-button-color: #575757;
@disabled-button-color: #FF9514;

@header-color: #111111;
@h2-color: #575757;
@h2-color-results: #111111;
@button-text-color: #FFFFFF;

@percentage-block-bg: #E0E0E0;
@range-bg-color: #E1E1E1;
@input-block-bg: #F3F3F4;

@mobile-font-color: #333E48;
@mobile-font-color-result: #333333;

@laptop: 1200px;
@tablet: 768px;
@smartphone: 630px;